*.o
/.sconsign.dblite
/.qtc_clangd
/raytracer
/raytracer.*

# projects files
.qtc_clangd/

# generated images
/out.png
/image_*.png
/image_*.ppm

# binaries
/test/test
/fig3_*
/ch3_title
/fig4_*
/fig5_*
/ch06_title
/fig8_*
/ch08_title
/fig9_*
/fig10_*
/fig11_*
/fig12_*
/instance
/fig14_*
/fig15_*
/fig16_*
/fig17_*
/fig18_*
/fig19_*
/fig20_*
/fig21_*
/fig22_*
/fig23_*
/fig24_*
/fig25_*
/fig26_*
/fig27_*
/fig28_*
/fig29_*
/fig30_*
/fig31_*
/open_part_cylinder
/smooth_triangle
/pinhole_mt
